
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
  
}


/* Header */
.marquee-container{
    overflow: hidden;
    width: 200px;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 10px;
    color: red;
}

.marquee{
    animation: scrolling-text 10s linear infinite;
    display: inline-block;
    width: inherit;
}

@keyframes scrolling-text {
    0%{
        text-indent: 100%;
    }

    100%{
        text-indent: -100%;
    }
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

header .logo img {
   width: 70px;
}

header .buscar-site {
    flex-grow: 1;
    text-align: center;
}

header .buscar-site input {
    width: 60%;
    padding: 8px 10px;
    border-radius: 20px;
   
}
header .buscar-site button{
    width: 20px;
    align-items: center;
    border-radius: 2px;
}
header .buscar-site button:hover{
    background-color: #444;
    color: #fff;
}

header .icone-do-usuario i {
    font-size: 10px; 
    color: #fff; 
    cursor: pointer; 
}


/* Menu */
#barra-menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    transition: right 0.3s ease;
}

#barra-menu ul {
    padding: 20px;
    list-style: none;
}

#barra-menu ul li {
    margin: 10px 0;
}

#barra-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

#barra-menu.active {
    right: 0;
}

/* Nav */
nav {
    background-color: #444;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

/*Filtros*/
aside{
    width: 100px;
    height: 45px;
    margin: 4px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
}
aside .categoria, .cores, .preco{
    border: 2px solid #444;
    color: white;
    background-color: #333;
    
    flex-direction: column;

}

/* Main */
main {
    padding: 20px;
    flex-direction: end;
    height: 600px;
}

/* monstruario */
.monstruario {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
}

.image-item img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   
}

/* Footer */
footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

footer .footer-img a {
    margin: 0 10px;
    display: inline-block;
}

footer .footer-img img {
    
        width: 20px;   
        
}

